body {
  background-color: #efefef;
}

#canvas {
  background-color: #fff;
  width: 800px;
  height: 800px;
  margin: 5%;
  position: relative;
  text-align: center;
}

#btn_container {
  width: 400px;
  height: 75px;
  background-color: #2C3A4E;
  display: inline-block;
  margin-top: 45%;
  border: 2px solid #2C3A4E;
  border-radius: 50px;
  cursor: pointer;
}

.btn_text {
  color: #fff;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: #7BFFBB;
  letter-spacing: 0.5px;
  margin-top: 18px;
  opacity: 1;
}

/*
  Height of the button which is 75 becomes the diameter
  of the circle after animation. As such, the smaller revolving circle is translated
  by the radius amount which is 75/2
 */
@keyframes rotation {
  from {
    transform: rotate(0deg)
               translate(-37.5px)
               rotate(0deg);
  }
  to {
    transform: rotate(360deg)
               translate(-37.5px) 
               rotate(-360deg);
  }
}

.revolve {
  width: 10px;
  height: 10px;
  background-color: #7BFFBB;
  border-radius: 50%;
  margin: auto;
  margin-top: -83px;
  animation: rotation 1s infinite linear;
}

#canvas .animate {
  background-color: #fff;
  width: 75px;
  -webkit-transition: width 0.5s cubic-bezier(0.755, 0.050, 0.855, 0.060),
                      background-color 0.5s ease;
  transition: width 0.5s cubic-bezier(0.755, 0.050, 0.855, 0.060),
              background-color 0.5s ease 0.5s; 
}

.animate > p {
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.hidden {
  display: none;
}